.form_head
{
	border-bottom: 5px solid #00b359;
	height: 90px;
}
.btn_head
{
	width: 100px;
	font-weight: bold;
	font-size: 18px;
	margin-top: 30px;
	padding: 10px 20px;
	text-align: center;
}
.btn_submit
{
	width: 155px;
	font-weight: bold;
	font-size: 18px;
}
.reg_form
{
	padding-top: 30px;
}
.profile_pic
{
	height: 200px;
	width:200px;
}
.col_profil_pic
{
	padding-top: 50px;
}
.error_class
{
	color: #ff0000;
	font-size: 12px;
}